h2 Background

p After graduating from the University of Queensland as a Bachelor of Engineering (Mechanical) Stephen started work with the Dow Chemical Company (Dow) in Melbourne in 1974. He worked for Dow for 10 years with job assignments in Melbourne, Indonesia, Texas (USA) and South Korea. These job assignments covered a broad range of responsibilities including project management, production, operation, maintenance, product development and business management. They also involved working in a variety of petro-chemical process plants.

p Stephen commenced work with The Moonie Oil Company (TMOC) in May 1984 as the field superintendent for Moonie and adjacent oil fields. In November 1985 he moved to Brisbane as the TMOC operations engineer for Queensland.

p Following the Australian Gas Light Company’s (AGL) acquisition of the TMOC business in 1987 Stephen progressed through a number of Brisbane based roles. Finally, as Manager Queensland, he led the AGL Queensland business unit with responsibility for all strategic, operational, business development, project, commercial and legislative activities in Queensland.
 
p In early 1998 Stephen moved to Canberra to the dual positions of AGL Manager NSW Pipelines and General Manager, East Australian Pipelines Limited (EAPL) reporting to the EAPL board. EAPL was owned 51% by AGL, 25% by TransCanada Pipelines and 24% by Petronas of Malaysia with annual revenue of $100 million and total assets of $475 million.

p AGL divested its EAPL ownership as part of the float of the Australian Pipeline Trust (APT) in June 2000. From 2000 to 2005, Stephen held the AGL positions of Manager PNG Pipeline Project, Project Director for the AGL/Petronas PNG Pipeline Consortium and Agility Client Program Manager Pipelines.

p In May 2005 Stephen commenced in the position of General Manager Operations (later becoming the Chief Operating Officer) with the Australian Pipeline Trust reporting to the CEO. In this role he was responsible for the business performance of all the trusts assets including operations, contract management, commercial development and technical regulation.

p With the expansion of APT to become the APA Group, in 2008, his role became that of Group Manager Operations reporting to the Managing Director and with responsibility for the development, construction, operation and technical regulation of all APA and third party assets. These operations included over 800 employees and 500 contract staff operating over 12,000 kms of high pressure gas pipelines, gas distribution networks servicing over 1,000,000 end users, gas fired power stations, gas processing and gas storage facilities and high voltage electricity transmission interconnects.

p With the further growth of the APA Group, Stephen became the Group Executive Strategic Projects in 2012 which, along with APA Corporate representational responsibilities, included the Project Director roles for APA’s Mondarra Gas Storage facility project ($290 million) and the APA/AGL joint owned Diamantina Power Station project ($663 million).

p After leaving the APA Group in mid-2013 he has started his own consulting business trading as Sandjohl Consulting Pty Ltd.
