h2 Experience

p Since becoming a consultant Stephen has carried out the following work.

ul
  li June 2018 to May 2019. Retainer agreement with a major Australian investment entity to provide data input and advice on the Australian pipeline industry and companies.
  li July 2013 to May 2014. Contracted to Diamantina Power Station Pty Ltd as Project Director for the management of the construction of the 240MW Diamantina Power Station, the 60MW Leichhardt Power Stations and related high voltage transmission lines, high voltage switch yard and gas laterals. Total value approximately $600 million (excluding project financing costs).
  li July 2013 to current. APIA nominee Director on the Energy Pipelines Cooperative Research Centre Board. Member of the Research Publication and Quality Board committee.

p The following is a summary of Stephen’s prior experience across a broad range of areas of practice. 

.item 
  h3 Acquisitions and Mergers - Corporate
  ul
    li Development of initial and subsequent Bidders Statements for the APA Group off-market bid and acquisition (approx $1,680 million in APA securities plus cash) of Hastings Diversified Utility Fund (December 2011 - December 2012);
    li Acquisition and integration into APA Group of 263 staff effective 2 October 2007 following the $210million buy-out of the Alinta operation and maintenance agreement over APA’s pipeline transmission assets (October 2007);
    li Competitive tender acquisition ($556.5 million) of the Origin Energy Asset Management business including a 33.3% interest in the SEAGas pipeline, a 17.2% interest in Envestra and the subsequent integration of the business and of 488 staff into APA Group (February - July 2007);
    li Takeover acquisition ($452 million) of GasNet and the subsequent integration of the business and staff into APA Group (August – November, 2006); and
    li Competitive tender acquisition ($521 million) of the Allgas gas distribution business and the subsequent integration of the business and staff into APA Group (August – November 2006).

.item 
  h3 Acquisitions - Electrical Infrastructure 
  ul
    li Competitive tender acquisition ($172 million) of Emu Downs (WA) windfarm (June 2011); li Acquisition and integration into APA Group of 263 staff effective 2 October 2007 following the $210million buy-out of the Alinta operation and maintenance agreement over APA’s pipeline transmission assets (October 2007);
    li Competitive tender acquisition ($170 million) of the Directlink High Voltage Direct Current Interconnect (November 2006 - February 2007); and 
    li Competitive tender acquisition ($153 million) of the Murraylink High Voltage Direct Current Interconnect (January - March 2006).

.item
  h3 Acquisitions - Oil and Gas Infrastructure
  p As part of the APA Group Executive team:
  ul
    li Acquisition ($63 million) of the Amadeus Basin to Darwin gas pipeline (June 2011);
    li Competitive tender acquisition ($82.6 million) from AGL of the Berwyndale to Wallumbilla gas pipeline (January - March 2010); and
    li Competitive tender acquisition ($23.5 million) of the Central Ranges business including 6 staff, the Central Ranges gas pipeline and the Tamworth gas network (June - August 2008).
  p As a secondee to APA Group:
  ul
    li Participate in acquisition due diligence for the unsuccessful bids for the Moomba to Adelaide pipeline, Ballera to Wallumbilla pipeline and the Dampier to Bunbury pipeline (circa 2004).
  p As secondee to the AGL Corporate Development team:
  ul
    li Provided expert input on AGL Corporate Development due diligence investigations conducted for various potential acquisitions including the Dampier to Bunbury pipeline, the Moomba to Adelaide pipeline and the Victorian pipeline system.


.item
  h3 Business Development – Oil and Gas Infrastructure
  p As part of the APA Group Executive team:
  ul
    li Negotiated and agreed with Power and Water Corporation the development of the Bonaparte Gas Pipeline and the associated Gas Transportation Agreement with a value in excess of $400 million (January - June 2006).
  p As the responsible APA Group Executive (May 2005 to March 2012):
  ul
    li Development from concept to an operating asset of new facilities including Bonaparte Gas Pipeline ($170 million), Tipton West Coal Seam Gas plant ($31 million), Daandine Power Station ($30 million), Mt Isa X41 Power Station ($30 million), Wickham Point Pipeline ($35 million); and
    li Development from concept to operating asset all expansion projects on existing assets including looping, compressor stations, networks and gas storage (average APA Group Capex spend $180 million per year).
  p As part of the relevant AGL project team;
  ul
    li With the AGL/Petronas Consortium bid team contributed to being selected as the preferred developer for the $1.5 billion PNG to Queensland gas pipeline (1996 to 1998); and • Through a Queensland Government tender process
    li Through a Queensland Government tender process to successfully win the right to develop the new $180 million Carpentaria Gas Pipeline from south-west Queensland to Mt.Isa. Conducted negotiations to finalise this agreement with the Queensland Government. Conducted and supported negotiations with pipeline users for transportation contracts with a total value in excess of $400 million (1994 to 1996).

.item
  h3 Business Development - Other
  p As part of the relevant Dow Chemical business team:
  ul
    li Worked with marketing department and customers to develop the market for Styrofoam* brand insulation. Designed and conducted long and short term testing in the laboratory and in field trials to support product marketing (1983 to 1984); and
    li Member of the South Korean low density polyethylene (LDPE) Product Management Team which planned and co-ordinated research, marketing and production activities for the domestic and export LDPE markets (1981 to 1983).

.item
  h3 Business Operations – Oil and Gas
  p As the responsible APA Group Executive:
  ul
    li Operation of all APA assets and provision of management, asset development and operation services to third party asset owners including Envestra, Energy Infrastructure Investments, Gorodok Ethane pipeline and others (Total Opex over $300 million per annum and total Capex over $100 million per annum) (May 2005 to March 2012); and
    li Continuous improvement and evolution of the APA national operating organisation including integration of all acquisitions (May 2005 to March 2012).
  p As the responsible AGL Manager:
  ul
    li Responsible for client relationships, Agility’s profit and Australia wide performance as an asset manager and service provider for high pressure pipelines, principally the APA Group (July 2000 to April 2005);
    li Reporting to the EAPL (Moomba to Sydney pipeline system) board and the General Manager AGL Pipelines, lead all aspects of the EAPL pipeline business including developing and expanding new business opportunities. EAPL earned over $100 million revenue per annum with total assets of $475 million. The shareholders were AGL (51%), Transcanada Pipelines (25%) and Petronas (24%) (1998 to 2000);
    li Lead all aspects of the existing AGL pipeline business in Queensland (principally the Roma to Brisbane pipeline), identifying, developing and expanding new business opportunities in Queensland and supporting the Sydney based functional areas in their activities across Australia (1993 to 1997);
    li Responsible for pipeline operation, maintenance and capital works of the Roma to Brisbane gas pipeline, Moonie to Brisbane crude oil pipeline, Lytton crude oil tank terminal and AGL Petroleums 50% interest in Jackson to Moonie crude oil pipeline (1989 to 1992); and
    li Operation and maintenance of Moonie and adjacent oil fields, pipeline terminal and pump station and a remote intermediate pump station. Facilities included submersible, gas lift and beam pump oil production wells, oil water separation, storage tanks, pumping, road tanker loading, electricity generation and related unit operations. Administration and management of the Moonie site included housing and amenities for employees and families (1984 to 1985).

.item
  h3 Business Operations - Other
  p As part of the relevant Dow Chemical team:
  ul
    li Monitoring day-to-day operation and maintenance of a tubular high pressure low density polyethylene (LDPE) plant at Yeosu and an autoclave high pressure LDPE plant at Ulsan by working with the South Korean plant managers (1981 to 1983);
    li In charge of maintenance, operation and modification of finishing section of Texan low density polyethylene (LDPE) plant comprising extrusion, separation, air conveying and silo storage systems. Worked in all other areas of the process as well as managing numerous small projects. Spent a short time in solution process high density polyethylene (HDPE) plant (1979 to 1981); and
    li Operation of Indonesian Dowpon* herbicide plant and Dursban* insecticide formulation plant. Plant site included production, warehouse, laboratory, accounting, maintenance, purchasing and personnel functions (1976 to 1979).


.item
  h3 Corporate Financing
  p As part of the APA Group Executive team:
  ul
    li Development of Prospectus for APA Group Hybrid raising ($515 million) (September 2012);
    li Development of Information Memoranda and participation in management presentations for raising of funds by APA including the issue of 10 year fixed rate A$300million medium term notes (MTN) (July 2010);
    li Development of Information Memorandum and participation in management presentations to obtain APA’s first credit ratings with Standard &amp; Poor’s (BBB in June 2009) and Moody’s (BAA2 in April 2010);
    li Development of US Private Placement Offer Memoranda which resulted in the raising of US$650 million (2007) and US$140 million (2009) in debt with 10, 12 and 15 year tenors;
    li Development of Product Disclosure Statement and a $356 million capital raising via a fully underwritten 2 for 7 Renounceable Rights Issue (November – December 2006); and
    li $200 million capital raising via an ABNAmro managed 15% book build/placement and a Security Purchase Plan (September 2006).

.item
  h3 Divestment – Infrastructure
  p As part of the APA Group Executive team:
  ul
    li Development of Information Memorandum for the $477 million sale of 80% of the APA Group owned Gas Distribution business (previously Allgas) into the Gas Distribution Infrastructure entity owned by Marubeni and RREEF (September - December 2011); and
    li Formation of unlisted Energy Investment Fund incorporating APA assets and equity partners Marubeni (49.9%), Osaka Gas (30.2%) and APA Group (19.9%) to provide $600 million of equity back to APA and APA to be the manager and operator of the assets (June - November 2008).
  p As secondee to the AGL Corporate Development team:
  ul
    li Provided expert input to the AGL Corporate Development information memorandum and data room queries for the sale of EAPL (Moomba to Sydney pipeline system) as part of the June 2000 float of the Australian Pipeline Trust.

.item
  h3 Project Director – Electrical Infrastructure
  p As the responsible APA Group Executive:
  ul
    li Project Director role, on behalf of Diamantina Power Station Pty Ltd (50% owned by APA and 50% owned by AGL), for the gas fired Diamantina power station (DPS) and Leichhardt power station (LPS) to be constructed at Mt.Isa with an approved December 2012 budget of $663.3 million (including project financing costs). This was set up with a small owners team using KBR to provide Project Management Services and SKM to provide Owners Engineer Services and the 242 MW DPS to be built under a turnkey contract by Forge Power/Seimens and the 60MW LPS to be built under a turnkey contract by Leightons/Rolls Royce (January 2012 to June 2013).

.item
  h3 Project Director – Oil and Gas Infrastructure
  p As the responsible APA Group Executive:
  ul
    li Project Director role for the APA Mondarra Gas Storage Facility projects using a hybrid EPCM model. The original February 2011 budget was $171.8 million. This escalated due to scope, schedule and cost increases to a final July 2012 approved budget of $290 million. The hybrid EPCM model used an integrated APA Engineering and Worley Parsons team for the detailed engineering and procurement and, after selected the construction contractor via a tender process, an integrated APA and Enerflex construction management team with the bulk of the construction being carried out by Enerflex (July 2011 to June 2013); and
    li Project Director role for the Bonaparte Gas Pipeline project ($170 million) constructed using an Early Contractor Involvement (ECI) model with a small APA Group project team and AJ Lucas as the constructor. (January 2007 to December 2009).
  p As the responsible AGL Manager:
  ul
    li Project Director for the AGL/Petronas PNG Pipeline Consortium and working with the project team to develop strategies for and conduct discussions and negotiations with the PNG Producers, the Queensland Government and Federal Government entities to progress the commercial, regulatory and technical activities needed to develop the project. Project did not proceed (2000 to 2005).

.item
  h3 Project Financing
  p As part of the APA Group Executive team:
  ul
    li Raising of Project Finance ($599 million for construction reducing to $497 million for operation) for the Diamantina Power Station (Qld) (September to December 2012).
  p As the APA Group representative on the SEA Gas Partnership Committee:
  ul
    li Participation in the refinancing of the SEA Gas pipeline $425 million project finance facility (2009).

.item
  h3 Regulatory – Gas Infrastructure
  p As part of the APA Group Executive team:
  ul
    li Participated in Access Arrangement development for all APA Groups regulated pipeline assets (May 2005 to March 2012).
  p As the responsible AGL Manager:
  ul
    li Provided input to and monitored the impact on EAPL (Moomba to Sydney pipeline system) of the ACCC consideration of EAPL’s first Access Arrangement submission. Represented EAPL in activities involving the ACCC, NCC, Federal, NSW and ACT Governments. Negotiated agreements for the EAPL interface with the Victorian market system operator, Vencorp, and the EAPL component of the $72 million capital program by Transmission Pipelines Australia for emergency gas supplies to Victoria following the Longford explosion (1998 to 2000); and
    li Actively involved with relevant industry groups and directly with Government departments in consultation to develop new legislation and amend existing legislation. Provided industry input, through the APIA and AGL, into the development and implementation of the “National Third party Access Code for Natural Gas Pipeline Systems” (1993 to 1997).
