.feature
  img.subtle-border(src="img/stephen-ohl.jpg")
  h2 Stephen Ohl

  h4 BE (Mech), Grad Dip Man, Cert Sup Man, FAICD.

p(style="padding-top: 10px;") Stephen Ohl is a Director and Principal Consultant of Sandjohl Consulting Pty Ltd.

p He is now available for Board positions and to consult to Australian and international companies, investment banks and superannuation funds on commercial, regulatory and technical matters in relation to energy infrastructure with an emphasis on oil and gas production, transportation and use. The services can be provided in relation to the purchase, sale and financing of existing energy infrastructure assets as well as the development of new energy infrastructure with unequalled expertise particularly in gas and electricity related infrastructure. Other service areas include strategic planning, business management, project management, gas and electricity market activities including gas contracts, pipeline contracts and business economics including the determination of tariffs and project returns.

p Among other qualifications Stephen is a Fellow, Australian Institute of Company Directors and a Member, Institution of Engineers Australia. He is a life member of the Australian Pipeline and Gas Association (APGA) (formerly the Australian Pipeline Industry Association) and in 2014 he received the APGA “Outstanding Contribution to the Australian Pipeline Industry” award.

p Stephen became a consultant in July 2013 after leaving the APA Group where he was a key member of the APA Executive team since 2005. Over his time with the APA Group it grew in market capitalisation from $0.5 billion to over $5.0 billion, in size from total assets of $1.9 billion to $7.4 billion, from total revenue of $378 million to $1,502 million and from a total staff of 40 to over 1,400. It became part of the S&amp;P/ASX top 50 index on 22 June 2013.
