h2 Publications

p Consistent with his long and broad experience Mr Ohl also has presented and published a large number of papers relating to the Australian energy infrastructure industry some of which are summarised below.

.item
  h3 International
  ul
    li “The Evolution and Analysis of Australian Gas Transmission Pipeline Business Models” presentation at the Asian Pipeline Industry Association Conference, Kuala Lumpur (November 2006);
    li “Ultrasonic Inline Inspection of the Moomba to Sydney Pipeline” presentation and publication in peer reviewed proceedings at the International Pipeline Conference, Calgary (September 2006);
    li “Due Diligence Structures and Procedures used by the Australian Pipeline Trust” presentation at the International Pipeline Conference, Calgary (September 2006); and
    li “The Structure of the Australian Pipeline Industry” presentation at the APIA Indonesian Seminar, Jakarta (October 1995).

.item
  h3 Australian
  ul
    li “The Bonaparte Gas Pipeline, Delivering the Northern Territory’s Energy Future” presentation and publication in proceedings at the APIA Convention, Cairns (October 2009);
    li “Stepping on the Gas” presentation at the JP Morgan’s CSM Corporate Access Day, Sydney (October 2007);
    li “The APA Groups Role in Northern Gas Supply Developments” presentation at the SEAAOC, Darwin (May 2007);
    li “The Transport of Petroleum and Gas”, APPEA Seminar Series, Canberra. (June 2003)
    li “The Australian Engineering Profession and the Gas Industry”, QUT Migrant Professionals Program, Brisbane (April &amp; Sept 1994, Sept 1995,April 1997); and
    li “Gas Pipelines-The Energy Highways” presentation at the National Conference of The Chartered Institute of Transport (October 1994).

  