h2 Principle Qualifications
ul
  li Bachelor of Engineering (Mechanical), University of Queensland (1974)
  li Graduate Diploma in Management, APESMA and Deakin University (1994)
  li Certificate of Superannuation Management, ASFA and Macquarie University (1994)
  li Graduate Certificate in Management, Mt.Eliza Monash University (1997)
  li Company Directors Course Diploma, Australian Institute of Company Directors (2000)

h2 Professional Associations and Registrations
ul
  li Fellow, Australian Institute of Company Directors;
  li Member, Institution of Engineers Australia;
  li Chartered Professional Engineer; and
  li Registered Professional Engineer of Queensland.
