h2 International and Representational Experience

p In addition to the above areas of practice, Mr Ohl has international and representational experience as shown below.

.item
  h3 International
  p While seconded to the APA Group:
  ul
    li Member of a joint bid team with a major Canadian Oil and Gas pipeline company to conduct due diligence, negotiate agreements and bid (unsuccessfully) for Australian pipeline assets (2004).
  p In his time with Dow Chemical Mr Ohl worked in:
  ul
    li South Korea (1981 to 1983) based at Yeosu providing technical, operation and maintenance advice to the 50% Dow owned, Korean operated low density polyethylene (LDPE) plants at Yeosu and Ulsan and also advice on the types of products to be manufactured;
    li USA (1979 to 1981) at the Dow Chemical Freeport Texas facility essentially as a training assignment working in tubular and autoclave high pressure low density polyethylene (LDPE) plants and gaining some understanding of LDPE properties and uses prior to moving to South Korea; and
    li Indonesia (1976 to 1979) based in Medan, North Sumatra where he had a basic proficiency in Indonesian and ran the 100% owned Dow Chemical Dowpon* herbicide plant and Dursban* insecticide formulation plant and had to work with local government and business practices within Dow’s strict ethical practices.

.item
  h3 Joint Ventures/ Partnerships
  p Representing both AGL and the APA Group:
  ul
    li As the Project Director for the jointly (50% AGL and 50% APA Group) developed Diamantina Power Station at Mt.Isa (2012 to 2013).
  p The APA Group representative for;
  ul
    li The Goldfields Gas Pipeline joint venture (88% APA Group and 12% Alinta Energy) (2005 to 2013); and
    li The SEA Gas Partnership (50% APA Group and 50% REST) (2007 to 2013).
  p The AGL representative for;
  ul
    li The Roma Brisbane Pipeline joint venture (85% AGL and 15% Interstate Pipelines) (1993 to 1998); and
    li The Jackson Moonie Pipeline joint venture (50% AGL and 50% Santos) (1989 to 1992).

.item
  h3 Directorships
  ul
    li One of 8 directors on the board of Energy Pipelines CRC Ltd (2011 to 2013);
    li APA nominee director (with one other REST nominee director) on the boards of South East Australia Gas Pty Ltd, ANP SEAGas SPV2 Pty Ltd and ANP SEAGas SPV3 Pty Ltd (2007 to 2013);
    li APA nominee director (with members of the APA Group Executive Team) of wholly owned APA subsidiary companies (2005 to 2013); and
    li Employee representative director of AGL Superannuation and Benefits Pty Ltd (1994).

.item
  h3 Industry Representation
  p Over his working life Mr Ohl has held a number of industry representation positions including:
  ul
    li Chairman of the Australian Pipeline Industry Association (APIA) Research and Standards Committee (RSC) including hosting the 2013 Joint Technical Meeting conference in Sydney with the USA based Pipeline Research Council International (PRCI) and European Pipeline Research Group (EPRG) (2011 to 2013);
    li Member APIA Management Committee (1993 to 1996) including a one year term as President (1995);
    li Member, Australian Gas Association (1994 - 2000); and
    li Member of the Australian Pipeline Operators Group (1985 to 1991) including a two year term as Chairman (1989 - 1991).
