.stripe

header
  .container
    img.logo(src="img/logo.jpg")

    h1 Sandjohl Consulting Pty Ltd

    h2 Energy infrastructure commercial, contract, regulatory &amp; technical advice 

.container
  .menu
    a.btn.active(href="#home") Home 
    a.btn(href="#background") Background
    a.btn(href="#qualifications") Qualifications
    a.btn(href="#experience") Experience
    a.btn(href="#representation") Representation
    a.btn(href="#publications") Publications
    a.btn(href="#contact") Contact

//- .fade

.container

  #home.section
    include _home

  #qualifications.section
    include _qualifications

  #background.section
    include _background

  #experience.section
    include _experience

  #representation.section
    include _representation

  #publications.section
    include _publications

  #contact.section
    include _contact

  footer
    .disclaimer
      p While every effort has been made to ensure the accuracy of this website, Stephen Philip Ohl and Sandjohl Consulting Pty Ltd, accept no liability or responsibility whatsoever for the contents of this website or its attachments in respect of any use of or reliance upon it by any party.

    p Sandjohl Consulting Pty Ltd (ACN 163 316 309)
    p Updated 31 May 2014
